In [1]:
import pandas as pd
import pickle
import plotly.graph_objects as go

In [ ]:
from app_dataframe import df_hom
df = df_hom[['fecha','can

In [21]:

#change city
city = "TOTAL"
if city == 'MEDELLÍN':
    df_fitted = pd.read_excel('data/pred_tot.xlsx')
elif city == 'BOGOTÁ, D.C.':
    df_fitted = pd.read_excel('data/pred_tot.xlsx')
elif city == 'CALI':
    df_fitted = pd.read_excel('data/pred_tot.xlsx')
else:
    df_fitted = pd.read_excel('data/pred_tot.xlsx')

df_fitted.columns = ['index','fecha','total','lower','upper']
df_fitted = df_fitted.drop(columns='index')

In [22]:
df.head()

       fecha       total       lower       upper
0 2022-01-01  505.885572  393.674144  618.096999
1 2022-02-01  436.962499  307.917719  566.007279
2 2022-03-01  458.477545  327.468283  589.486807
3 2022-04-01  406.590616  268.127232  545.054001
4 2022-05-01  578.098355  437.146980  719.049730

In [23]:

df = df.set_index('fecha')
df = df.resample('M').sum()
df['month_index'] = df.index.month
df.head()

                 total       lower       upper  month_index
fecha
2022-01-31  505.885572  393.674144  618.096999            1
2022-02-28  436.962499  307.917719  566.007279            2
2022-03-31  458.477545  327.468283  589.486807            3
2022-04-30  406.590616  268.127232  545.054001            4
2022-05-31  578.098355  437.146980  719.049730            5

In [ ]:

#make figure
fig2 = go.Figure()
fig2.add_trace(go.Scatter(x=df['fecha'], y=df['total'],
                    #mode='lines',
                    name='original'))
fig2.add_trace(go.Scatter(x=df['fecha'], y=df['total'],
                    #mode='lines',
                    name='fitted'))
fig2.add_trace(go.Scatter(x=upper_series['fecha'], y=upper_series['total'],
                    #mode='lines',
                    name='upper_series',
                    line_color='rgba(200,200,200,0.2)',
                    showlegend=False,))
fig2.add_trace(go.Scatter(x=lower_series['fecha'], y=lower_series['total'],
                    #mode='lines',
                    name='lower',
                    fill='tonexty',
                    line_color='rgba(200,200,200,0.2)',
                    showlegend=False,))
fig2.update_layout(
    showlegend=False,
    title_text='Forecasting homicides in '+city,
    xaxis_title='Date',
    yaxis_title='Homicides',
    )
fig2.update_traces(mode='lines')
fig2.show()